<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Hybrid Cercas</title>
      <!-- Favicon -->
      <link rel="icon" href="{%static 'images/logo_icon.svg'%}">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
      <!-- style css -->
      <link rel="stylesheet" href="{%static 'css/style.css'%}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
      <!-- fevicon -->
      <link rel="icon" href="" type="{%static 'image/gif'%}" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{%static 'css/jquery.mCustomScrollbar.min.css'%}">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <!-- Google Analytics -->
       <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-Y', 'auto');
       ga('send', 'pageview');
       </script>
       <!-- End Google Analytics -->

      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <style>
        .mySlides {display:none;}
      </style>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{%static 'images/loading.gif'%}" alt="" /></div>
      </div>
      <!-- end loader -->

   <div class="wrapper">

      <div class="sidebar">
         <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="#home" style='color:black;'>Home</a>
                </li>
                <li>
                    <a href="#produto" style='color:black'>Produto</a>
                </li>
                <li>
                    <a href="#quem_somos" style='color:black'>Quem somos</a>
                </li>
                <li>
                    <a href="#benefícios" style='color:black'>Parcerias</a>
                </li>
                <li>
                    <a href="#galeria" style='color:black'>Galeria</a>
                </li>
                <li>
                    <a href="#contato" style='color:black'>Contato</a>
                </li>
            </ul>

        </nav>
      </div>





      <!-- section -->
      <section id="home" class="top_section">
         <div class="row">
            <div class="col-lg-12">

               <!-- header -->
      <header>
         <!-- header inner -->
         <div class="container">
            <div class="row">
              <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="{%url 'Core:index'%}"><img src="{%static 'images/logo.svg'%}" alt="#" width='220px'></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="right_header_info">
                     <ul>
                        <li><a href="#contato"><img style="margin-right: 15px;" src="{%static 'images/whats.svg'%}" alt="#contato" width=45px> (19) 99821-6992</a></li>
                        <li><a href="#contato"> <img style="margin-right: 15px;" src="{%static 'images/mail_icon.png'%}" alt="#contato" />hybrid.cercas@gmail.com</a></li>
                        <li><img src="{%static 'images/search_icon.png'%}" alt="#" /></li>
                         <li>
                           <button type="button" id="sidebarCollapse">
                              <img src="{%static 'images/menu_icon.png'%}" alt="#" />
                           </button>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <section>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div class="full slider_cont_section">

                     <h3 style=" text-shadow: 0 2px 0 black;">Cercas Híbridas</h3>
                     <br><br><br><br>

                     <div class="button_section1">
                        <a href="#benefícios">CONHEÇA OS BENEFÍCIOS</a>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                     </div>
                  </div>
                </div>
            </div>
         </div>
      </section>
      <!-- end header -->
            </div>
         </div>
      </section>
      <!-- end section -->

      <!-- section -->
      <div id="produto" class="section layout_padding " >
        <hr>
        <div>
          <h3 class="main_heading _left_side margin_top_30" style="text-align: center">Produto <span style="color:darkorange; text-shadow: 0 2px 0 black;">ÚNICO</span> no mercado:</h3>
        </div>
        <hr>

        <div class="container">

          <div class="row">
               <div class="col-lg-12">
                  <div class="full center">
                    <img class='desc_prod' src="{%static 'images/hybrid_cercas.png'%}" width="60%" alt="">
                  </div>
                </div>
                <div class="col-lg-3">
                   <div class="full">

                   </div>
                </div>
          </div>
          <hr>
          <div style="padding:2px;">
            <h3> <strong> Descrição:</strong></h3>

              <p> <span style='text-decoration: underline'>Suportes</span>: em aço com banho de zinco, nos tamanhos 600mm de altura
                com 4 isoladores W e 850mm de altura com 6 isoladores W;</p>
                <br>
              <p><span style='text-decoration: underline'>Fitas Cortantes</span>: Galvalume, branca com pintura eletrostática ou de inox;</p>
              <br>
              <p><span style='text-decoration: underline'>Parte Elétrica</span>: A mesma ultilizada em cercas elétricas.</p>
          </div>
        </div>
          <br>
          <hr>
          <div>
          <img src="{%static 'images/cross_blue.png'%}" alt="">
          <hr>
          <h3 class="main_heading _left_side margin_top_30"  style="text-align: center">Vantagens da <span style="color:darkorange; text-shadow: 0 2px 0 black;">Hybrid Cercas</span>:</h3>
        </div>
        <hr>
          <br><br>
          <div style="">
            <div class="container">
              <div class="row">

                <div class="col-lg-4">
                   <div class="full">
                      <div class="choose_blog text_align_center">
                        <div class="card" style="width: 80%;">
                          <img class="card-img-top" src="{%static 'images/galeria/cerca_passaro.jpg'%}" alt="Card image cap">
                          <div class="card-body" style="background-color:lightgray">
                            <h3 class="card-title" style="color:#ff4d00;"><strong>ECOLÓGICA</strong></h3 >
                              <hr>
                            <h5 class="card-text">Pássaros <strong>não colidem</strong> com a cerca porque enxergam a fita cortante, gerando <strong>menos manutenção</strong>.</h5>
                          </div>
                        </div>
                      </div>
                   </div>
                </div>


                <div class="col-lg-4">
                   <div class="full">
                     <div class="choose_blog text_align_center">
                       <div class="card" style="width: 80%;">
                         <img class="card-img-top" src="{%static 'images/galeria/cerca_design.jpg'%}" alt="Card image cap">
                         <div class="card-body" style="background-color:lightgray">
                           <h3 class="card-title" style="color:#ff4d00;"><strong>ELEGÂNCIA E SEGURANÇA</strong></h3 >
                            <hr>
                           <h5 class="card-text">Possui um design <strong>moderno</strong> combinando <strong>robustez</strong> e <strong>beleza</strong>. </h5>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>


                <div class="col-lg-4">
                   <div class="full">
                     <div class="choose_blog text_align_center">
                       <div class="card" style="width: 80%;">
                         <img class="card-img-top" src="{%static 'images/galeria/cerca_beneficio.jpg'%}" alt="Card image cap">
                         <div class="card-body" style="background-color:lightgray">
                           <h3 class="card-title" style="color:#ff4d00"><strong>CUSTO-BENEFÍCIO</strong></h3 >
                             <hr>
                           <h5 class="card-text">A <strong>Segurança</strong> que você precisa com <strong>maior economia</strong> para o seu bolso. </h5>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>



              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- end section -->


      <!-- section -->
     <section id="quem_somos" class=" layout_padding">
         <img src="{%static 'images/cross_orange.png'%}" alt="">
       <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="full center">
                <h2 class="main_heading _left_side margin_top_30">Quem somos </h2>
              </div>

              <h4>Somos uma empresa <span style="color:darkorange"><strong>inovadora</strong> </span> no mercado, preocupada em aperfeiçoar a segurança perimetral. Trabalhamos há vários anos com
              Concertina e Cerca Eletrificada Industrial. Todas tem as suas vantagens, porém queríamos unir a <span style="color:darkorange"><strong>beleza</strong></span> da cerca elétrica com a <span style="color:darkorange"><strong>robutez</strong></span> e <span style="color:darkorange"><strong>segurança</strong></span> da Concertina (fita cortante).</h4>

              <h4>Para isso, <span style="color:darkorange"><strong>desenvolvemos</strong> </span> e <span style="color:darkorange"><strong>patenteamos</strong> </span> uma cerca híbrida eletrificada e cortante. A grande vantagem dela é que se cortarem o fio elétrico, dispara a sirene de alerta, e ainda
            conta com a barreira de aço da fita cortante, dificultando a entrada na propriedade.</h4>

              <h4>Resumidamente, a <span style="color:black"><strong>HYBRID CERCAS </strong> </span>é uma empresa que desenvolveu uma cerca eletrificada<span style="color:darkorange"><strong> mais reforçada</strong> </span>. Com um trabalho intenso de <span style="color:darkorange"><strong>Pesquisa e Desenvolvimento</strong> </span>,
              formulamos um suporte adequado para a instalação do conjunto.</h4>
              <br>
              <img src="{%static 'images/galeria/3.jpg'%}" width="95%"alt="" style="padding:2px">

            </div>
          </div>


       </div>
     </section>
     <!-- end section -->



    <!-- section -->
      <section id="benefícios" class="dark_bg_blue layout_padding cross_layout padding_top_0">
        <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="full center">
                 <h2 class="heading_main orange_heading" >PARCERIAS</h2>
               </div>
                 <div class="choose_blog text_align_center">
                     <h4>POR SE TRATAR DE UM PRODUTO INOVADOR, PRECISAMOS DE EMPRESAS PARCEIRAS DISPOSTAS A INSTALAR NOSSO PRODUTO.</h4>
                      <br><br><br><br>
                     <h4>SE INTERESSOU? ENTRE EM CONTATO!</h4>
                     <br>
                     <br>
                    <img src="{%static 'images/galeria/7.jpg'%}" width="95%"alt="" style="padding:2px">

                 </div>
             </div>
           </div>

        </div>
      </section>
      <!-- end section -->

       <!-- section -->
      <section id="galeria" class="dark_bg_orange layout_padding cross_layout_o padding_top_0">
        <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="full center">
                 <h2 class="heading_main orange_heading">Galeria </h2>
               </div>
             </div>
           </div>
           <div class="w3-content" style="max-width:800px">
             <img class="mySlides" src="{%static 'images/galeria/1.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/2.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/3.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/4.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/5.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/6.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/7.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/8.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/9.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/10.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/11.jpg'%}" style="width:100%;border:solid 2px black;">
             <img class="mySlides" src="{%static 'images/galeria/12.jpg'%}" style="width:100%;border:solid 2px black;">

           </div>

           <div class="w3-center">
             <div class="w3-section">
               <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Anterior</button>
               <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Próximo ❯</button>
              </div>

            </div>

        </div>
      </section>
      <!-- end section -->
<br><br><br><br><br>
      <!-- section -->
      <section id="contato" class="dark_bg_blue layout_padding cross_layout padding_top_0 margin_top_0">
        <div class="container">
           <div class="row">
             <div class="col-md-12">
               <div class="full center">
                 <h2 class="heading_main orange_heading" >Contato</h2>
               </div>
               <br>
               <p style="color:white"><img style="margin-right: 15px;" src="{%static 'images/whats.svg'%}" alt="#contato" width=45px>(19) 99821-6992</p>
               <p style="color:white"> <img style="margin-right: 15px;" src="{%static 'images/mail_icon.png'%}" alt="#contato" />hybrid.cercas@gmail.com</p>
               <br>
             </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                 <div class="full">
                    <div class="contact_form">
                      <form method="post" class="form">
                        {% csrf_token %}
                        {% for field in form %}
                          {% bootstrap_field field %}
                        {% endfor %}
                        <button class="btn btn-primary btn-md botao" type="submit">Enviar</button>
                      </form>
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="full map_section">
                     <div id="map">
                     </div>
                   </div>
              </div>
            </div>
        </div>
      </section>
      <!-- end section -->

      <!-- footer -->
      <footer>
         <div class="container">
           <div class="row">
              <div class="col-md-6">
                <div class="full">
                  <h3>HYBRID CERCAS</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="full">
                   <ul class="social_links">
                      <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                   </ul>
                </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                    <h4 class="widget_heading">Entre em contato:</h4>
                 </div>
                 <div class="full subribe_form">
                    <form>
                      <fieldset>
                         <div class="field">
                           <input type="email" name="mail" placeholder="Insira seu email" />
                         </div>
                         <div class="field">
                           <button class="submit_bt">Enviar</button>
                         </div>
                      </fieldset>
                    </form>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                   <h4 class="widget_heading">Links</h4>
                 </div>
                 <div class="full f_menu">
                    <ul>
                       <li><a href="#">Home</a></li>
                       <li><a href="#">Vantagens</a></li>
                       <li><a href="#">Nossos Produtos</a></li>
                       <li><a href="#">Services</a></li>
                       <li><a href="#galeria">Galeria</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="full">
                   <h4 class="widget_heading">Localização</h4>
                   <div class="full cont_footer">
                     <p><strong>Endereço</strong><br><br>Avenida 1, nº336 - Centro - Santa Gertrudes, SP<br><br>Whatsapp: (19) 9 9615 5823<br><br>email: hybrid.cercas@gmail.com</p>
                   </div>
                 </div>
              </div>
           </div>
         </div>
      </footer>
      <!-- end footer -->

      <!-- copyright -->

      <div class="cpy_right">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <p>© 2021 Todos os direitos reservados. Feito por <a href="www.yanprada.com">Yan Prada</a> com <a href="https://html.design">Free Html Templates</a></p>
                     </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- right copyright -->

   </div>
</div>

   <div class="overlay"></div>

      <!-- Javascript files-->
      <script src="{%static 'js/jquery.min.js'%}"></script>
      <script src="{%static 'js/popper.min.js'%}"></script>
      <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
      <!-- Scrollbar Js Files -->
      <script src="{%static 'js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
      <script src="{%static 'js/custom.js'%}"></script>
      <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
      </script>

      <script>
      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat:  -22.45583100260814, lng: -47.53040461809674},
          });

        var image = '../../static/images/location_point.png';
          var beachMarker = new google.maps.Marker({
             position: {lat: -22.45583100260814, lng: -47.53040461809674},
             map: map,
             icon: image
          });
        }
        </script>
      <!-- galeria -->
        <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }

        function currentDiv(n) {
        showDivs(slideIndex = n);
        }

        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-red", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-red";
        }
          </script>



        <!-- google map js -->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        <!-- end google map js -->

   </body>
</html>
